.inbox-container {
  flex: 1;
}

.inbox-container header {
  display: flex;
  align-items: center;
  padding: 36px 55px 0 55px;
}
.inbox-container .header-content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding-bottom: 5px;
  margin: 0rem 9rem;
  width: 100%;
}

.inbox-container .header-content span {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

/* .header-content .header-actions {
  color: #c10f0f;
} */

.inbox-container .header-content button {
  text-transform: none;
  color: #666;
  font-size: 13px;
  border: none;
  margin-right: 5px;
}

.inbox-container .header-content button:hover {
  color: #1a1a1a;
}

.inbox-container .list-task {
  padding: 0 55px 86px 55px;
  max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}