.content-wrapper {
  display: flex;
  flex-direction: row;
}
.left-menu {
  padding-top: 25px;
  background-color: #fafafa;
}

.left-menu .MuiList-padding {
  padding: 0 15px;
}

.left-menu .MuiListItem-padding {
  padding: 0 5px;
}

 .MuiListItem-gutters {
  border-radius: 5px;
}

.MuiListItemText-primary {
  font-size: 1px;
}